/*==========  Desktop First  ==========*/

// /* Large Devices, Wide Screens */
// @media (max-width : 1200px)
// /* Medium Devices, Desktops */
// @media (max-width : 992px)
// /* Small Devices, Tablets */
// @media (max-width : 768px)
// /* Small Devices, Tablets */
// @media (max-width : 568px)
// /* Small Devices, Tablets */
// @media (max-width : 480px)
// /* Custom, iPhone Retina */
// @media (max-width : 380px)
/**/


@media (max-width : 720px)
	.header
		background-color transparent
	.header__menu
		flex-wrap wrap
		gap 1rem
	.hero__timer-item-num
		font-size 3.5rem
	.hero__timer-item-ttl
		letter-spacing 0.2rem
		font-size 0.625rem
	.hero__timer-dots:before, .hero__timer-dots:after
		width 0.5rem
		height 0.5rem
		left 0.6rem
	.hero__timer-dots:before
		top 1.3rem
	.hero__timer-dots:after
		top 2.3rem
	.hero__timer-dots
		width 1.75rem
	.hero__btn
		font-size 1.2rem
	.jesus-bg
		top 10rem
	.circles-bg
		top -16rem
	.jesus-bg, .circles-bg
		font-size 0.3rem
