.header
	position absolute
	z-index 3
	top 0
	left 0
	width 100%
	padding 1.88rem 0
	background-color #000
	&__menu
		display flex
		align-items center
		justify-content center
		gap 2rem
		li
			gap 1rem
			display flex
			align-items center
			color #fff
			.menu-item-symbols
				opacity 0.4
				letter-spacing: 0.15rem;
			a
				color: #8BCE94;
				text-decoration-line: underline;
				text-decoration-style: solid;
				text-decoration-skip-ink: none;
				text-decoration-thickness: 3.5%; /* 0.49px */
				text-underline-offset: 25%; /* 3.5px */
				text-underline-position: from-font;
				&:hover
					text-decoration none
