$white = #ffffff
$black = #000000
$accent = #8BCE94
$title-color = #8BCE94
$text-color = #fff
$link-color = #8BCE94
$green = #8BCE94

$min-width = 320px
$max-width = 1200px
$base-bg = #000
$base-font-size = 0.875rem
$base-line-height = 1.4
$base-font-family = 'SpaceMono', sans-serif
$custom-font-family = 'SpaceMono', sans-serif
$default-transition = all 0.25s ease-out

$spacemono = 'SpaceMono', sans-serif
$kodemono = 'KodeMono', sans-serif
